.pageWrapper {
  height: calc(100vh - 100px);
}

.bank-card .field {
  font-size: 13px;
  color: grey;
}

.bank-card .value {
  font-size: 13px;
  color: grey;
  text-decoration: underline;
}

.form-label {
  margin-bottom: 0.25rem;
  color: #6e7174;
}

.password-input {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 54%;
  right: 12px;
  cursor: pointer;
}
